<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 ps-3 fw-bold" href="#">Grand Tour GT</a>
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto fs-5 gap-2">
          <li class="nav-item"><a href="/" class="nav-link px-3 py-2">Películas</a></li>
          <li class="nav-item"><a href="/autos" class="nav-link px-3 py-2">Autos</a></li>
          <li class="nav-item"><a href="/conversor" class="nav-link px-3 py-2">Conversor</a></li>
          <li class="nav-item"><a href="/text-to-speech" class="nav-link px-3 py-2">Text to Speech</a></li>
          <li class="nav-item"><a href="/clima" class="nav-link px-3 py-2">Clima</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <h2 class="mb-4 fw-bold">💱 Conversor de Monedas</h2>
    <div class="card shadow-sm p-4">

      <div class="mb-3">
        <label class="form-label fw-semibold">Monto</label>
        <input type="number" class="form-control" [(ngModel)]="amount" min="0">
      </div>

      <div class="row g-3 mb-3">
        <div class="col-6">
          <label class="form-label fw-semibold">Moneda origen</label>
          <select class="form-select" [(ngModel)]="from">
            <option *ngFor="let m of monedas" [value]="m.codigo">{{ m.codigo }} - {{ m.nombre }}</option>
          </select>
        </div>
        <div class="col-6">
          <label class="form-label fw-semibold">Moneda destino</label>
          <select class="form-select" [(ngModel)]="to">
            <option *ngFor="let m of monedas" [value]="m.codigo">{{ m.codigo }} - {{ m.nombre }}</option>
          </select>
        </div>
      </div>

      <button class="btn btn-primary w-100" (click)="convertir()">
        Convertir
      </button>

      <div *ngIf="final" class="alert alert-success mt-4 text-center fs-5">
        {{ amountSaved }} {{ fromSaved }} =
        <strong>
          {{ final.conversion_result | number:'1.2-2' }}
          {{ toSaved }}
        </strong>
      </div>

    </div>
  </div>
</div>